/* Theme customizations for code blocks */
pre, code {
    font-family: 'Source Code Pro', monospace;
}

pre > code.highlight {
    outline: .4em solid #91a2a3;
    outline-offset: .4em;
}

code[class*="language-"],
pre[class*="language-"] {
    background: #f9f9fa;
    color: #5954c3;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #F4F2FF;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #F4F2FF;
}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
    color: #5f5d68;
}

.token.tag,
.token.operator,
.token.number {
    color: #afa0fe;
}

.token.property,
.token.function {
    color: #7e80f7;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
    color: #62b482;
}

tr {
    background: #f9f9fa;
}
td {
    padding: 3px;
}

/* Customizations for markdown */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}
h3 {
    font-size: 1rem;
    margin-top: 20px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}
h5 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.9;
    font-size: 16px;
}
a {
    color: #5c50ca;
}

ol, ul{
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    /* list-style: none; */
}

li {
    margin-top: .4em;
    /* list-style: none; */
    font-size: 16px;
}
ul li::before {
    /* content: ''; */
    /* color: #62B482; */
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    bottom: 2px;
    /* direction: rtl; */
    /* background-image: url(../../images/Tick.svg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}

/*  START: Hero styles */
.hero-wrapper .Grid {
  flex-direction: column;
}
h1.hero-title {
    font-family: "Nunito Sans";
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    margin-bottom: 25px;
    color: #8986A0;
}

p.hero-subheading {
    color: #8986A0;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: -12px;
}

.hero-features p {
    color: #3F3D4B;
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    /* margin-top: -5px; */
}

.hero-features h2  {
    font-weight: 400;
    margin-top: -12px;
    color: #8986A0;
    font-family: "Nunito Sans";
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 10px;
}

.hero-features a {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    text-decoration:none;
}

.hero-feature {
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(139, 139, 139, 0.25);
  height: 100%;
  padding: 2em;
}

.hero-button {
    border-radius: 4px;
    background: linear-gradient(180deg, #7958D8 0%, #5C50CA 100%);
    box-shadow: 0 2px 10px 0 rgba(63,61,75,0.2);
    text-decoration: none;
    display: block;
    padding: 20px 20px 20px 20px;
    font-weight: 400;
    border: 2px solid #5c50ca;
    text-align: center;
}

.hero-button a {
    font-size: 16px;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

/* END: Hero styles */

/* START: Building Blocks styles */

.arrow::after {
    content: url('../../images/ArrowBlurple.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.building-blocks-wrapper {
  padding: 20px 20px 40px 20px;
}
.building-blocks-wrapper .Grid {
  flex-direction: column;
}
/* END: Building Blocks styles */

/* START: Footer styles */
.footer-menu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 70vw;
  margin: 0 auto;
  flex-wrap: wrap;
}
.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}

footer .button-wrap button {
  padding: 12px 20px 12px 22px;
  border-radius: 4px;
  color: #5c50ca;
  font-weight: 800;
}

footer .button-wrap .Grid-cell:first-child {
  text-align: right;
  margin-right: 20px;
}

footer .footer-menu-wrap a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}


/* END: Footer styles */

.step-img {
    width: 105px;
}

.step-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.step-wrap {
    padding-left: 10px;
    width: 100%;
}

.step-title {
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

  .overview-list ol, ul{
      margin-left: 0;
      padding-right: 0;
  }

  .overview-list li {
      counter-increment: list-counter;
      list-style: inside;
      font-size: 16px;
  }

  .overview-list li::before {
      content: counter(list-counter);
      /* margin-right: 5px; */
      /* font-size: 80%; */
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .8em;
      padding: 2px 5px;
      border-radius: 18px;
      display: inline-block;
      width: 1.86em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  .overview-list1 ul{
      counter-increment: list-counter1 5;
  }

  .overview-list1 li {
      counter-increment: list-counter1;
      list-style: inside;
  }

  .overview-list1 li::before {
      content: counter(list-counter1) "a";
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .9em;
      padding: 2px 5px;
      border-radius: 18px;
      display: inline-block;
      width: 1.8em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  .overview-list2 ul{
      counter-increment: list-counter2 5;
  }

  .overview-list2 li {
      counter-increment: list-counter2;
      list-style: inside;
  }

  .overview-list2 li::before {
      content: counter(list-counter2) "b";
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .9em;
      padding: 2px 5px;
      border-radius: 18px;
      display: inline-block;
      width: 1.8em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  td {
    align: left;
  }

  .overview-list p {
    font-size: .9em;
  }

  img[alt="small-diag"] {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    display: block;
  }

  img[alt="diag"] {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 600px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 0;
    color: rgba(230, 224, 248);
    background-color: rgba(230, 224, 248);
    border-color: rgba(230, 224, 248);
    border-top: 1px solid;
  }

/*  Content Table Styles    */
.docSearch-content table {
  color: #5F5D68;
}
.docSearch-content thead tr {
  border-bottom: 1px solid #E5E5E5;
}
.docSearch-content tbody tr {
  border-bottom: 1px solid #E5E5E5;
}
.docSearch-content tbody tr:last-child {
  border-bottom: none;
}
.docSearch-content tbody tr:last-child td {
  padding-bottom: 20px;
}
.docSearch-content th {
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px 10px;
  text-align: left;
}
.docSearch-content td {
  font-size: 16px;
  padding: 20px 0;
}
.docSearch-content tr td:first-child, .docSearch-content tr th:first-child  {
  padding-left: 20px;
}
.docSearch-content table code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* Login Status */
.loginStatus {
  border-left: 1px solid #fff;
  display:inline-block;
  height: 30px;
  margin-top: 15px;
  position:relative;
}
.loginStatus div {
  margin-top: -15px;
}
.loginStatus .register-app {
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 9px 4px;
  padding: 9px 14px;
}
.loginStatus .myapps-nav:after {
  content: url('../../images/caret-down.svg');
  position: relative;
  display: inline-block;
  top: -1px;
  left: 8px;
}
.loginStatus.open .myapps-nav:after {
  transform: rotate(180deg);
}
.loginStatus .myAppsDropdown {
  position:absolute;
  right: 10px;
  margin-top: -10px;
  box-shadow: 0 4px 4px 0 rgba(134, 134, 134, 0.25);
  background-color: #fff;
  text-align: left;
  min-width: 180px;
  list-style-type: none;
}
.loginStatus li.logout {
  border-bottom: none;
}
.loginStatus li.logout a {
  color: #D63A59;
}
.loginStatus ul {
  padding: 0;
}
.loginStatus ul li {
  padding: 0;
  border-bottom: 1px solid #efefef;
  padding: 8px 0 12px 10px;
  cursor: pointer;
}
.loginStatus ul li:before {
  background-image: none;
  bottom: auto;
  width: auto;
}
.loginStatus ul li a {
  color: #5C50CA;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

/* Grid Classes */
*, :after, :before {
    box-sizing: border-box;
}
.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 25px 0 1em;
}

/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

/* Small to medium screens */
@media (min-width: 24em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
}

/* Large screens */
@media (min-width: 48em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
}

/* Media queries for index page */
  @media (max-width: 767px) {
      section.demo,
      .hero-img {
          visibility: hidden;
          display: none;
    }

    .headline-wrapper {
        display: table;
        flex: 0;
        flex-direction: column;
        padding: 0px;
        margin: 5px;
        height: auto;
    }

    .home-hero {
        /* height: 90vh; */
    }

    .step-img {
        width: 80%;
    }

    .banner-button-right {
        padding: 0;
        margin-top: 50px;
    }

    .banner-left-title {
        margin: auto;
    }

    .banner-left-title h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .banner-left-title p {
        font-size: 14px;
        line-height: 20px;
    }

    .banner-left-buttons {
        display: table-row;
        margin-bottom: 25px;
    }

    .banner-left-buttons p {
        font-size: 16px;
        line-height: 20px;
    }

    .banner-left-buttons h2  {
        font-size: 28px;
        line-height: 32px;
    }

    .banner-left-buttons a {
        font-size: 14px;
        line-height: 22px;
    }

}

@media (max-width: 600px) {

    .home-hero {
        height: auto;
    }

    .step-img {
        width: 20%;
        margin: auto;
        padding-left: 10px;
    }

    .smaller {
        width: 16%;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
    }

    .step-title {
        font-weight: 400;
        font-size: initial;
    }

    .step-wrap {
        padding-left: 10px;
        width: 100%;
    }

    .banner-list {
        width: 290px;
        white-space: initial;
    }

    .banner-steps {
        margin: auto;
        height: 100px;
    }

    .banner-started-button {
        margin-top: 10px;
        margin-left: 0px;
    }

}



/*
Media query breakpoints adapted from Twitter Bootstrap
https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
*/


/* Landscape phones and down */
@media (max-width: 480px) {
  h1.hero-title {
    font-size: 46px;
  }
  .hero-wrapper .Grid {
    flex-direction: column;
  }
  .footer-menu-wrap {
    max-width: 90vw;
  }
  footer .button-wrap {
    flex-direction: column;
    text-align: center;
  }
  footer .button-wrap .Grid-cell button {
    min-width: 50vw;
  }
  footer .button-wrap .Grid-cell:first-child {
    text-align: center;
    margin: 10px 0;
  }
  footer .button-wrap .Grid-cell:last-child {
    margin: 10px 0;
    margin-left: 0 !important;
  }
  .building-blocks-wrapper {
    max-width: 95vw;
  }
  .search-wrap {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .building-blocks-wrapper {
    max-width: 80vw;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  p.hero-subheading {
    max-width: 78%;
  }
  .hero-feature {
    padding-bottom: 8em;
    position: relative;
  }
  .hero-button {
    position: absolute;
    bottom: 2em;
    left: 2em;
    right: 2em;
  }
  .building-blocks-wrapper {
    padding: 60px 0;
    max-width: 80vw;
  }
  .hero-wrapper .Grid,
  .building-blocks-wrapper .Grid {
    flex-direction: row;
  }
  div.hero-left {
    /* padding-right: 100px !important; */
  }
  section.demo {
    max-width: 80vw;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section.demo, .building-blocks-wrapper {
    max-width: 70vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .building-blocks-wrapper, section.demo {
    max-width: 60vw;
  }
}
