/* index */
.myAppsWrap {
  background-color: #f9f9fa;
}
.brand {
  margin-left: 40px;
}
.title {
  font-family: "Nunito Sans";
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 25px;
  color: #3F3D4B;
}
.banner-link {
  color: #fff;
  text-decoration: none;
}
.myapps-start-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 40px !important;
  background-color: #F9F9FA;
}
.myapps-start-left-wrap p {
  color: #89879f;
  font-weight: 200;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 40px
}
.myapps-button {
  margin-top: 30px;
  width: 70%;
  background-color: #715ad1;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}
.myapps-button.signing {
  width: 80%;
  background-color: #fff;
  border: 2px solid #715ad1;
  margin: 0 auto;
  word-break: break-word;
}
.myapps-button.signing a {
  color: #715ad1;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.myapps-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
}
.connectModal {
  position: absolute;
  background-color: #fff;
  text-align: center;
  width: 50%;
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding-top: 0;
}
.connectModal h4 {
  color: #89879f;
}
.connectModal p {
  font-size: 16px;
  line-height: 60px;
  clear: both;
}
.ReactModal__Overlay {
  background-color: rgba(90, 82, 197, 0.55) !important;
}
.modal-header {
  margin: 0 auto;
  display: block;
  width: 53%;
  clear: both;
}
.modal-header h4 {
  float: left;
  margin: 9px 0 0 0;
  font-size: 24px;
  padding-left: 8px;
}
.modal-header img {
  float: left
}
.modal-footer {
  background-color: #e0dfe6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 0;
}
.modal-footer p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.modal-footer a {
  padding: 0 5px;
}
.demo-qr-container {
  margin-top: -40px;
  margin-bottom: 20px;
}
a.closeConnectModal {
  float: right;
  font-size: 18px;
  font-weight: 800;
  padding: 20px 25px 0 0;
  color: #dfe1e3;
  text-decoration: none;
}
/* Get started */
h1 {
  font-family: "Nunito Sans";
  font-size: 38px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 10px;
  color: #5c54c7;
  margin-top: 30px;
}
.startBuildingLeft {
  max-width: 40%;
  text-align: center;
}
.myAppsWrap p {
  color: #89879f;
  font-weight: 200;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 40px
}

/* startbuilding */
.Grid {
  margin-top: 0;
}
.sidebar {
  width: 30%;
  max-width: 280px;
  padding: 60px !important;
}
.sidebar h4 {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e0dfe6;
  display: table-cell;
}
.sidebar ul {
  counter-reset: section;
  padding-left: 0;
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  margin: 40px 0;
}
.sidebar ul li a {
  display: block;
  padding: 4px 0 0 40px;
  color: #9d9cb0;
  font-weight: 700;
  text-decoration: none;
}
.sidebar ul li:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  border: 2px solid #9d9cb0;
  color: #aaa6e1;
  font-weight: 700;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  text-align: center;
  padding-top: 2px;
  bottom: auto;
  background-image: none;
}
.sidebar ul li.active a {
  color: #5c54c7;
}
.sidebar ul li.active:before {
  background-color: #5c54c7;
  border: 2px solid #5c54c7;
  color: #fff;
}
h1 {
  margin-top: 40px;
}
label {
  color: #89879f;
  text-transform: uppercase;
  padding-bottom: 5px;
}
form input[type=text],
form textarea {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 2px rgba(100,100,100,0.12);
  border-radius: 3px;
  font-size: 16px;
  margin-left: -2px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
}
form input[type=text]:focus,
form textarea:focus {
  border: solid 1px #827CFF;
  outline: none;
}
form input[type='text']::placeholder,
form textarea::placeholder {
  color: #b2b1c2;
}
form .fieldError input[type=text]:focus,
form .fieldError textarea:focus {
  border: none;
}
.radioContainer {
  background-color: #fff;
  border: solid 1px #D8D8D8;
  border-radius: 8px;
  /*box-shadow: 0px 0px 12px 2px rgba(100,100,100,0.12);*/
  margin: 20px 0;
  padding: 30px;
  position: relative;
}
.radioContainer.active {
  border-color: #5C50CA;
}
.radioContainer span.note {
  color: #3F3D4B;
  display: block;
  padding: 0 0 5px;
}
.radioContainer input:checked ~ p {
    color: #5c54c7;
}
.radioContainer p {
  display: block;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  /*margin: -5px 0 0 32px;*/
  padding: 0;
}
.networkDropdown {
  /*width: 80%;*/
  /*max-width: 450px;*/
  border: none;
  box-shadow: 0px 0px 12px 2px rgba(100,100,100,0.12);
  border-radius: 3px;
  font-size: 16px;
  margin-left: -2px;
  margin-bottom: 20px;
  cursor: none !important;
}
.networkDropdown__control {
  border: none;
  line-height: 18px;
  padding: 5px 16px;
  box-shadow: none;
}
.networkDropdown__control-is-focused {
  box-shadow: none;
  border: none;
}
.networkDropdown__value-container {
  padding: 0;
}
.networkDropdown__indicator-separator {
  display: none;
}
.networkDropdown__input {
}
.fieldError {
  border: 1px solid #c6475b;
  margin-bottom: 20px;
  border-radius: 3px;
}
form .fieldError input[type="text"] {
  width: 99.5%;
  box-shadow: none;
  margin-left: 1px;
  border-radius: 0;
  margin-bottom: 0;
}
.fieldError span {
  display: block;
  border-top: 1px solid #c6475b;
  padding: 14px 16px 10px;
  background-color: #f9eef0;
}
.fieldError img {
  max-width: 24px;
  margin-right: 15px;
  margin-top: -5px;
}
button.continue {
  background-color: #735ad2;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  float: right;
}

/* myapps.js */
.myAppsBody {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}
.myAppsBody h1 {
  font-size: 36px;
  color: #000;
}
.appList ul {
  padding-left: 0;
  margin-top: 40px;
}
.appItem {
  border-radius: 3px;
  box-shadow: 0px 0px 12px 2px rgba(100,100,100,0.12);
  cursor: pointer;
  float: left;
  /*height: 217px;*/
  list-style-type: none;
  margin-bottom: 40px;
  margin-right: 8%;
  min-width: 217px;
  padding: 0 20px 20px;
  position: relative;
  text-align: center;
  width: 26.65%;
}
.appItem:before {
  background-image: none;
  content: normal;
}
.appItem .avatar.default {
  position: absolute;
  background-image: url(../../images/myapps-bg.svg);
  top: 32px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  background-size: 350px;
  background-position: 6% 38%;
  transform: translateX(-50%);
}

.appItem .avatar.uploaded {
  position: absolute;
  top: 15%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  background-size: 100px;
  transform: translateX(-50%);
}

.appItem:nth-child(3n) {
  margin-right: 0;
}
.appCover {
  background-color: #5c54c7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 88px;
  margin: 0 -20px 60px -20px;
}
.appItem h3 {
  font-size: 18px;
  margin-bottom: -2px;
  word-break: break-word;
}
.appItem span {
  color: #89879f;
  font-size: 14px;
  text-transform: capitalize;
}
.register-button {
  background-color: #fff;
  border: solid 1px #5C50CA;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(39, 38, 42, 0.12);
  float: right;
  font-size: 14px;
  line-height: 1em;
  margin-top: 40px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.register-button span {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}

/* sample-code.js */
.sampleInstructions {
  width: 80%;
  max-width: 720px;
}
.sampleInstructions ul {
  counter-reset: stepNumber;
  padding-left: 0;
}
.sampleInstructions ul li {
  position: relative;
  list-style-type: none;
  padding-left: 40px;
  margin-bottom: 40px;
}
.sampleInstructions ul li:before {
  counter-increment: stepNumber;
  content: counter(stepNumber);
  position: absolute;
  background-color: #6958cd;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  padding-top: 4px;
  left: 0;
  background-image: none;
  bottom: auto;
}
.sampleInstructions h3 {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 20px;
}
.sampleCode {
  background-color: #f4f4f7;
  border-radius: 3px;
  padding: 20px;
  font-family: Courier;
  color: #8380fc;
}
.sampleCode span {
  display: block;
  white-space: nowrap;
}

/* App Branding Styles */
.startBuilding .brandingPreview {
  margin-top: 50px;
}
.startBuilding .colorPreview {
  width: 45px;
  height: 45px;
  background-color: #5C50CA;
  border-radius: 5px;
  float: left;
}
.startBuilding .colorPicker input {
  max-width: 60%;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.startBuilding .appImage {
  clear: both;
}
.startBuilding .fileUpload {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding: 10px;
    color: #5c50ca;
    border-radius: 5px;
    border: 2px solid #aaa5e3;
    text-align: center;
    float: left;
}
.startBuilding .fileUpload span {
  font-size: 16px;
  font-weight: 400;
}
.startBuilding .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.startBuilding .imagePreview.default {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  top: 15%;
  border-radius: 50%;
  left: 26%;
  background-size: 250px;
  background-position: 8% 40%;
  margin-left: 18px;
  margin-top: -5px;
}

.startBuilding .imagePreview.uploaded {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  top: 15%;
  border-radius: 50%;
  left: 26%;
  background-size: 50px;
  margin-left: 18px;
  margin-top: -5px;
}

.startBuilding .avatar.uploaded {
  background-size: 100px;
  background-position: 0% 0%;
}

.btn-cancel {
  border: none;
  background: none;
  box-shadow: none;
  color: #8986a0;
  margin-top: 32px;
  float: right;
  text-transform: uppercase;
}
/* AppDetail */
.appDetailHeaderWrap {
  background-color: #fff;
  min-height: 140px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(139, 139, 139, 0.5)
}
.appDetailHeader .avatar.default {
  background-image: url(../../images/myapps-bg.svg);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: 350px;
  background-position: 6% 38%;
  float:left;
}
.appDetailHeader .avatar.uploaded {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: 80px;
  background-position: 0% 0%;
  float:left;
}
.appDetailHeader h3 {
  float:left;
  margin: 25px 0 0 30px;
  font-size: 32px;
  font-weight: 800;
}
.sampleInstructions li:before {
  background-image: none;
  bottom: auto;
}

/* Server Flow */
.headsUp {
  margin-top: 30px;
  background-color: #fff;
  position: relative;
  height: 60px;
  border-radius: 5px;
  padding: 20px 0 20px 20px;
  width: 70%;
}
.headsUp p {
  font-size: 14px;
  line-height: 19px;
  padding-left: 50px;
}
.headsUp p:before {
  content: url(../../images/headsUp.svg);
  position: absolute;
  top: 13px;
  left: 20px;
}

.configuratorWrap {
  background-image: url(../../images/configuratorBg.svg);
  background-size: cover;
}

.configuratorWrap section {
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
}

.configuratorWrap section header {
  /*width: 70vw;*/
  padding: 15vh 0 0 0;
  /*margin: 0 auto;*/
}
.configuratorWrap section header h2 {
  font-weight: 800;
}
.configuratorWrap section header a.cancel {
  font-weight: 700;
  float: right;
  text-decoration: none;
  color: #8986A0;
  padding: 30px 30px 0 0;
}
.module {
  background-color: #fff;
  border: 0.3px solid #8986A0;
  border-radius: 2px;
  box-shadow: inset 0px 0px 4px rgba(134, 134, 134, 0.25);
  padding: 50px 0 30px;
  /*clear: both;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px;
  /*width: 70vw;*/
}

.module h4 {
  display: inline;
  font-size: 16px;
}
.module span.step {
  background-color: #62B482;
  border-radius: 50%;
  text-align: center;
  padding: 5px 10px;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  color: #fff;
  font-weight: 800;
}

.module .storeBadge {
  margin: 0 0 0 20px;
  float: right;
  margin-top: -8px;
}

.pk-confirmation {
  background-color: #fcf2e5;
  margin-top: 30px;
  width: 80%;
  padding: 30px;
  margin: 30px auto;
  border-radius: 3px;
}

.pk-confirmation span {
  color: #3F3D4B;
  font-size: 16px;
  font-weight: 700;
}

.pk-confirmation input {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid #d9d8df;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.pk-confirmation.hidden {
  display: none;
}

footer.stepFooter {
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 12px 2px rgba(100,100,100,0.12);
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: auto;
  padding: 10px 40px;
}

footer.stepFooter .cta-prev {
  justify-self: center;
}

footer.stepFooter .cta-prev button {
  background-color: transparent;
  display: flex;
  font-weight: 800;
  text-decoration: none;
}

footer.stepFooter .cta-prev p {
  color: #8986a0;
  font-weight: 400;
  margin: 0;
  line-height: 1.5em;
  text-align: left;
  text-transform: capitalize;
}
footer.stepFooter .cta-prev p span {
  display: inline-block;
  margin: 0 4px;
}

footer.stepFooter .cta-prev img {
  filter: FlipH;
  height: 16px;
  margin: 15px 20px 0 0;
  transform: scaleX(-1);
}
footer.stepFooter .cta-next {
  justify-self: center;
}
footer.stepFooter .cta-next button {
  background-color: #5C50CA;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 800;
  font-size: 16px;
}

footer.stepFooter .cta-next button.disabled {
  opacity: 0.5;
  cursor: default;
}

footer.stepFooter .cta-next img {
  margin: -3px 0 0 10px;
}

@media all and (min-width: 768px) {
  footer.stepFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer.stepFooter .cta-prev {
    justify-self: start;
  }
  footer.stepFooter .cta-next {
    justify-self: end;
  }
}

#uport__modal-content {
  min-width: 200px;
  width: 30vw;
}
